#tooltip {
  background-color: #00000095;
  color: #ffffff;
  font-weight: 500;
  border-radius: 5%;
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transform: scale(0);
  overflow: hidden;
  width: auto;
}

svg g {
  cursor: pointer;
}
